<h1>Blog anonimo loko!!!</h1>
  <p>Elimina cualquier post loko! :,(</p>

  <form method="post" action="/delete_post" >
    <input type="text" name="id_delete">
    <input id="submit" type="submit" placeholder="Buscar y editar">
  </form>

  <p><a href="/post_menu">Regresar</a></p>