<h1>Blog anonimo loko!!!</h1>
  <p>Edita cualquier post loko!</p>

  <form method="post" action="/edit_post" >
    <input type="text" name="old_title">
    <input type="text" name="old_body">
    <input type="text" name="new_title">
    <input type="text" name="new_body">
    <input id="submit" type="submit" placeholder="Buscar y editar">
  </form>

  <p><a href="/post_menu">Regresar</a></p>
