  <h1>Blog anonimo loko!!!</h1>
  <p>Busca un post específico(loko!)</p>

  <form method="post" action="/show_post/<%=:id%>" >
    <input type="text" name="id_find">
    <input id="submit" type="submit" value="Buscar">
  </form>

  <p><a href="/post_menu">Regresar</a></p>
