  <h1>Crea una cuenta :o</h1>
  <p> Introduce tu nombre y e-mail y contraseña </p>
  
  <form action="/crear_cuenta" method="post">
    <ul>
    <input type="text" value="nombre" name="user_name">

    <input type="text" value="e-mail" name="user_email">

    <input type="text" value="contraseña" name="user_password">
    </ul>

    <input type="submit" value="Crear cuenta">
  </form>
