  <h1>P치gina del secreto!</h1>
  <p> selecciona una opci칩n</p>

  <% if @online %>
    <p>Hola! <%= @online %></p>
  <% end %>

  <ul>
  <p><a href="/login">Iniciar sesi칩n</a></p>
  <p><a href="/cerrar_sesion">Cerrar sesi칩n</a></p>
  <p><a href="/crear_cuenta">Crear Cuenta </a></p>
  <p><a href="/secreto">Secreto!!!</a></p>
  </ul>