  <h1>Login :V</h1>
  <p>Aqui puedes ir a muchos lugares ºOº</p>

  <a href="/iniciar_sesion"> Iniciar sesion  </a>

  <a href="/cerrar_sesion">Cerrar sesion  </a>

  <a href="/crear_cuenta">Crear Cuenta  </a>

  <a href="/secreto">secreto ºOº  </a>

  <a href="/no_secret_4_U"> No puedes verlo >:V </a>


  
