  <h1>Iniciar sesión :D</h1>
  <p> Introduce tu e-mail y password</p>
  
  <ul>
  <form action="/login" method="post">
    <br>
    <input type="text" value="e-mail" name="user_email">

    <input type="text" value="password" name="user_password">

    <input type="submit" value="Iniciar Sesión">
  </form>
  </ul>