 <h1>Este secreto no es para ti >:V</h1>
  <p> Si quieres ver el secreto, debes iniciar sesión antes</p>
  
  <ul>
  <form action="/login" method="get">
    <input type="submit" value="Está bien :,(">
  </form>
  </ul>