  <h1>Tuiter</h1>

<h2>Buscar Twitter</h2>

<form action="/fetch" method="post">
  <input name="handle" placeholder="Twitter Handle" />
  <input type="submit" value="Mostrar Tweets" />
</form>

<h2>Post Tweet</h2>

<form id="tweet" action="/tweet" method="post">
  <input name="tweet" placeholder="Tweet" />
  <input  type="submit" value="Tweet" />
</form>

<span></span>
