.container {
  margin: 0 auto;
  width: 992px;
  padding-top: 20px;
}

form#style_editor {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0px;
  width: 100%;
  text-align: center;
  background-color: black;
  box-shadow: inset 0px -2px 2px #aaa;
}
