<h1>Users App</h1>

<a href="/users">Show all users</a>

<form action="/users" method="post">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="submit">
</form>
