<h1>Answer this question!</h1>

<p><%= @one_question.id%>: <%= @one_question.question %></p>

<form action="/answer_question" method="post" id="answer">
    <br>
    <textarea rows="4" cols="50" name="answer" form="answer" placeholder= "Write your answer here"></textarea>
    <input type="submit" value="Answer!">
</form>

<a href="/users/<%=current_user.id%>">Go Back</a>