<h2> Crea una cuenta </h2>

<ul>
  <form action="/create_account" method="post" name="user">
    <br>
    <input type="text" placeholder="username" name="username">
    
    <input type="text" placeholder="e-mail" name="user_email">

    <input type="password" placeholder="password" name="user_password">

    <input type="submit" value="Create account">
  </form>
</ul>

<p><a href="/">Go Back</a></p>
