<h1>Bienvenidos a Jurassic Park!</h1>
<p>"Nananananaaa nananana Nanana-nananaaa"</p>

<h2> iniciar sesión </h2>

<ul>
  <form action="/login" method="post">
    <br>
    <input type="text" placeholder="e-mail" name="user_email">

    <input type="password" placeholder="password" name="user_password">

    <input type="submit" value="Iniciar Sesión">
  </form>
</ul>

<p><a href="/register_account">Crear cuenta</a></p>


    
