  <h1>Tuiter</h1>

<%if logged_in? == false%>
<a href="/sign_in">Sign In</a>
<%end%>


<%if logged_in?%>
<h2>Hola <%= current_user.username %>!</h2>
<%end%>

<h2>Buscar Twitter</h2>

<form action="/fetch" method="post">
  <input name="handle" placeholder="Twitter Handle" />
  <input type="submit" value="Mostrar Tweets" />
</form>

<%if logged_in?%>

<h2>Post Tweet</h2>

<form id="tweet" action="/tweet" method="post">
  <input name="tweet" placeholder="Tweet" />
  <input  type="submit" value="Tweet" />
</form>
<span id = "present"></span>

<h2>Post Tweet IN THE FUTURE!!!</h2>

<form id="tweet_f" action="/tweet_f" method="post">
  <input name="tweet_f" placeholder="Tweet" />
  <input  type="submit" value="Tweet" />
</form>
<span id="future"></span>
<%end%>

<div>
<a href="/sign_out">Sign Out</a>
</div>
