<header>
  <img src="img/codea-logo.png" id="logo">
</header>


<h1 id="main-title">¡RAYUELA!</h1>
    <button id="start_btn">Jugar</button><br><br>

    <p><span id="timer"> <%= %></span> </p>

    <table class="table" id="tabla">
      <tr id="Player1">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td class="active"></td>
        <% (1..100).each do |t| %>
        <% t = t+1 %>
          <td id = <%= t %> > </td>
        <% end %>
      </tr>

      <tr id="Player2">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td class="active"></td>
        <% (1..100).each do |t|%>
        <% t = t+1 %>
          <td id = <%= t %> > </td>
        <% end %>
      </tr>
</table>

    <p><span id="result"> <%= %></span> </p>