<header>
  <img src="img/codea-logo.png" id="logo">
</header>


<h1 id="main-title">¡RAYUELA!</h1>
    <button id="start_btn">Jugar</button><br><br>

    <table class="table" id="tabla">
      <tr id="Player1">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td class="active"></td>
        <td></td>
      </tr>

      <tr id="Player2">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td class="active"></td>
        <td></td>
      </tr>
</table>

<script>
for (var i = 1; i <= 100; ++i) {
  var row = document.getElementById("Player1");
  var row2 = document.getElementById("Player2");
  row.insertCell(2);
  row2.insertCell(2);
}
</script>
