.container {
  margin: 0 auto;
  width: 768px;
}

.pagination{
  margin-top: 30px;
}

.pagination ul li {
  display: inline;
}

.pagination ul li a {
  border: 1px solid #ddd;
  color: black;
  float: left;
  text-decoration: none;
  padding: 8px 16px;
}

.pagination ul li a.active {
  background-color: #CCCCCC;
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 16px;
}

.pagination ul li a.first{
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 16px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination ul li a.first.disabled{
  opacity: 0.5;
}

.pagination ul li a.last{
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 16px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination ul li a.last.disabled{
  opacity: 0.5;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

small.page_no {
  float: right;
  color: #ddd;
}

.footer{
  clear: both;
  margin-top: 60px;
}
