<h1>Bienvenido a Sinatra!</h1>
<p>Este es un esqueleto de sinatra que armamos para ti</p>

<form name="swag" action="/cool_url" method="GET">
<div align="center">
<br><br>
<input type="text" size="25" value="Nel puz khe zookul3nt0">
<br><input name="swag" type="submit" value="Z4l3 V4l3"><br>
</div>
</form>

<form name="yolo" action="/cool_url" method="POST">
<div align="center">
<br><br>
<input  type="text" size="25" value="Are you a real villain?">
<br><input name="yolo" type="submit" value="Nah"><br>
</div>
</form>

<form name="shrek" action="/cool_url" method="POST">
  <div align="center"><br>
  <input type="radio" name="group1" value="good memes"> Memes<br>
  <input type="radio" name="group1" value="better memes" checked> Dank Memes<br>
  <input type="radio" name="group1" value="bezt m3m3z"> M0m0z XDXDXDXDxdxddxd Hehe<br>
  <br><input name="shrek" type="submit" value="post"><br>
</form>

<form name="momos" action="/cool_url" method="POST">
  <div align="center"><br>
  <input type="checkbox" name="option1" value="cool"> The Bee Movie<br>
  <input type="checkbox" name="option2" value="god" checked> Harambe<br>
  <input type="checkbox" name="option3" value="lame"> 1000 degree knife<br>
  <br><input name="momos" type="submit" value="post"><br>
</form>

<form name="lol" action="/cool_url" method="POST">
  <div align="center"><br>
  <select name="mydropdown">
  <option value="Shinji">Chinji, Zubete al Robó >:V</option>
  <option value="Rei">Zamiel best waifu</option>
  <option value="Asuka">Anta Baka?!</option>
  </select>
  <br><input name="lol" type="submit" value="post"><br>
  <input type="text" name="post[title]">
  <input type="text" name="post[price]">
  <textarea name="post[description]"></textarea>
</form>
