<h1>Welcome to MiniSubmarine!</h1>
<div class="content">
  <img src="/img/submarine.jpeg">
</div>
<div class="container title">
  <ul>
  <li class="myButton"><a href="/signin">Login</a></p>
  <li class="myButton"><a href="/signup">Sign up</a></p>
  <li><a href="/records">Results</a></p>
  </ul>
</div>


  
