<div class="container">
  <h2>Welcome <%= current_user.username %></h2>
</div>

<h1>MiniSubmarine</h1>

<div id="container"></div>



<aside>
  <h3></h3>
  <form id="play" method="post" action="/games">
    <input id="play2" type="submit" value="Play">
  </form>
  <br>
  <a href="/score/<%=current_user.id%>"> View Score</a>

  
  <h2 id="win"><h2>
  
</aside>

