  <h1>Blog anonimo loko!!!</h1>
  <p>Haz un post de cualquier cosa loka!</p>

  <form method="post" action="/create_post" >
    <input type="text" value= "Título" name="title">
    <input type="text" value= "..." name="body">
    <input type="text" value= "tags" name="tags">


    <input id="submit" type="submit" value="Crear">
  </form>

  <p><a href="/post_menu">Regresar</a></p>
