  <h1>Blog anonimo loko!!!</h1>
  <p>Esto va a estar muy loko!</p>

  <ul>
  <p><a href="/show_all">Mostrar todos los posts</a></p>
  <p><a href="/show_post/<%=:id%>">Mostrar post específico</a></p>
  <p><a href="/create_post">Crear post</a></p>
  <p><a href="/edit_post/<%=:id%>">editar post</a></p>
  <p><a href="/delete_post/<%=:id%>">borrar post</a></p>

  <p><a href="/">Regresar</a></p>


  </ul>