<h1>Welcome to MiniSubmarine!</h1>
<div class="content">
  <img src="/img/submarine.jpeg">
</div>
<div class="container title">
   <!-- ¿Qué va en esta parte para realizar sign in/up y mostrar lista de ganadores? -->  
  
</div>


  
