<h1>Winners Record</h1>

<div class="centerTable">
	<table class="hovertable">
		<!-- ¿Qué va en esta parte para mostrar la lista de ganadores? -->
		
			<% if round_won != 0 %>
				  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
				  </tr>
			<% end %>
		
	</table>
</div>

<aside>
  <h3></h3>
  <form method="post" action="/new_game">
    <input type="submit" value="Play">
  </form>
</aside>