<h1>Sign In</h1>

<% if @errors %>
  <p><%= @errors %></p>
<% end %>
<div class="container" id="form">
  <!-- ¿Qué va en esta parte para realizar el sign in? -->
  
</div> <!--end "login_form" div -->